*, html{
  margin: 0%;
  padding: 0%;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }

  /*TicTacToe Game*/
  ol {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .game-info {
    margin-left: 20px;
  }

/* Navigation bar*/
  /* header {
    width: 15vw;
    margin: 0%;
    padding: 0%;
  } */
  header {
    background: #bbb; 
    width: 15vw;
    min-width: 100px;
    height: 100%;
    float: left;
    display: inline;
    margin: 0 0 0 0;
    padding: 0;
    position: absolute;

  }
  ul {
    margin: 0;
    padding: 0;
  }
 .linkitem {
  list-style-type: none;
  padding: 2px;
 }
 .linkcontent {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
 }
 /* Placeholder*/
 main{
  display: flex;
  width: 70%;
  padding: 0%;
  margin: 0%;
  text-align: center;
 }
 .root {
  height: 100%;
  display: flex;
 }
 /* Canvas */
 .canvas{
  float: right;
  width: 85%;
 }
 /* Clock */
 .klok{
  display: flex;
  background: red;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 25%;
 }
 .uurwijzer{
  background: black;
  position: absolute;
  height: 60px;
  width: 5px;
  top: 50%;
  left: calc(50% - 2.5px);
  transform-origin: top;
  transform: rotate(180deg);
  z-index: 50;
 }
 .minuutwijzer{
  background: green;
  position: absolute;
  height: 90px;
  width: 3px;
  top: 50%;
  left: calc(50% - 1.5px);
  transform-origin: top;
  transform: rotate(180deg);
  z-index: 51;
 }
 .secondewijzer{
  background: yellow;
  position: absolute;
  height: 150px;
  width: 1px;
  top: 50%;
  left: 50%;
  transform-origin: top;
  z-index: 52;
 }
 .middelpunt{
  background: lightblue;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 100;
 }